/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/jun/2014, 23:50:00
    Author     : Valter
*/

div.boxTitleForm {
    width: 100%;
    padding: 10px;
    margin: 0px;
    background-color: gainsboro;
    border: 2px solid gainsboro;
    font-size: 20px;
}

div.boxForm {
    width: 100%;
    padding: 10px;
    border: 2px solid gainsboro;
    margin: 0px;
}

div.boxLink {
    width: 200px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0px;
}

div.grid {
    padding: 10px;
    font-size: 16px;
}

div.curFocus {
	background: #fdecb2;
}

.searchCaption {
    background-image: url('../images/search.jpg');
    border: 1px solid gray;
    margin: 0px;
}

.tl {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(images/corner-topleft.jpg);
	display: none;
}
.tr {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(images/corner-topright.jpg);
	display: none;
}
.bl {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(images/corner-bottomleft.jpg);
	display: none;
}
.br {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(images/corner-bottomright.jpg);
	display: none;
}

.areaPessoalGrid{   
   border-collapse:collapse;
   border:1px solid #000000;
}

.areaPessoalGridHeader{
   text-align:center;
//   background:none repeat scroll 0 0 #B5B5B5;
   background-color: #383636;
   padding: 10px;
   font-size: 16px;
   color: gainsboro;
   width: 300px;
}

.areaPessoalGridOddRow{
    text-align: center;
    background:none repeat scroll 0 0 #FFFFFF;	
    height: 30px;
}

.areaPessoalGridEvenRow{
    text-align:center;
    background:none repeat scroll 0 0 #CDC8C8;
    height: 30px;
}