<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pd_2014?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="HibernatePackage/Contacto.hbm.xml"/>
    <mapping resource="HibernatePackage/Artigopalavrachave.hbm.xml"/>
    <mapping resource="HibernatePackage/Conferenciaedicao.hbm.xml"/>
    <mapping resource="HibernatePackage/Conferenciacomiteartigoforum.hbm.xml"/>
    <mapping resource="HibernatePackage/Artigorevisaoitems.hbm.xml"/>
    <mapping resource="HibernatePackage/Conferenciacomite.hbm.xml"/>
    <mapping resource="HibernatePackage/Conferencia.hbm.xml"/>
    <mapping resource="HibernatePackage/Grauacademico.hbm.xml"/>
    <mapping resource="HibernatePackage/Conferenciacomiteartigo.hbm.xml"/>
    <mapping resource="HibernatePackage/Investigador.hbm.xml"/>
    <mapping resource="HibernatePackage/Tema.hbm.xml"/>
    <mapping resource="HibernatePackage/Conferenciacomiteartigoforummensagem.hbm.xml"/>
    <mapping resource="HibernatePackage/Itemrevisao.hbm.xml"/>
    <mapping resource="HibernatePackage/Conferenciaartigo.hbm.xml"/>
    <mapping resource="HibernatePackage/Conferenciapoolrevisores.hbm.xml"/>
    <mapping resource="HibernatePackage/Artigorevisao.hbm.xml"/>
    <mapping resource="HibernatePackage/Artigo.hbm.xml"/>
    <mapping resource="HibernatePackage/Subtema.hbm.xml"/>
    <mapping resource="HibernatePackage/Investigadorareaconhecimento.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
